Stacja_paliw/Stacja_paliw/Service References/MonitoringService/MonitoringService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51130/MonitoringService/MonitoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="StartMonitoring">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartMonitoringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMonitoring">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopMonitoringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetServiceStatusResult" nillable="true" type="q1:MonitoringStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewCameraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>